# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
  - master
  - dev
  - features/*

pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  efProject: 'src\database\Azure.Starter.Database\Azure.Starter.Database.csproj'
  efStartupProject: 'src\web\Azure.Starter.Web\Azure.Starter.Web.csproj'
  scriptName: 'migrations.sql'

steps:
  - script: dotnet restore
    displayName: 'dotnet restore'

  - script: dotnet build -c $(buildConfiguration) --no-restore
    displayName: 'dotnet build'
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: False
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: True
  - script: dotnet ef migrations script -o $(Build.ArtifactStagingDirectory)\SQL\$(scriptName) -i -p $(efProject) -s $(efStartupProject) --no-build
    displayName: 'Generate Migrations Script'
  - task: PublishBuildArtifacts@1